@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.lilitaOne {
  font-family: "Lilita One", sans-serif;
}

.background-gt {
  background-image: url(/mercedes-preta.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.gradient-bg {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 4%,
    rgb(196, 196, 196) 40%,
    rgba(0, 0, 0, 1) 97%
  );
}

.sombra {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Responsividade */

@media screen and (max-width: 1024px) {
  .background-gt {
    background-image: url(/frente-mercedes-mobile.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .titulo {
    font-size: 1.3rem;
  }

  .gapMobile {
    gap: 3rem;
  }
}
